:root{
  --vert: #4f805d;
  --vertclair: #8bb092;
  --gris: #ddd;
  --blanc: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/* font-family: 'Libre Baskerville', serif;
font-family: 'Quicksand', sans-serif; */
body {
  background: /*url(../img/bg-body.jpg)*/ #1c1c1c;
  color: #000;
  font: 400 16px/1.4 'arial', cursive;
  /* border-top: 5px solid #414141;
  box-shadow: inset 0 3px #ef4f1d; */
}

ul, ol {
  list-style: none;
}
img {
  vertical-align: bottom;
  width:100%;
}

a{
  text-decoration: none;
  color: var(--blanc);
}

strong{
  font-family: 'Libre Baskerville', serif;
  font-size: 1.6rem;
}

.shadow{
  -webkit-box-shadow: 0 10px 6px -6px var(--vertclair);
  -moz-box-shadow: 0 10px 6px -6px var(--vertclair);
  box-shadow: 0 10px 6px -6px var(--vertclair);
}

.wrap {max-width: 1050px;width: 100%;margin: 0 auto;padding: 0 1rem;}
.wrap1 {max-width: 700px;width: 100%;margin: 0 auto;padding: 0 1rem;}
.wrap2 {max-width: 1235px;width: 100%;margin: 0 auto;padding: 0 1rem;}
.wrap3 {max-width: 785px;width: 100%;margin: 0 auto;padding: 0 1rem;}

#container{
  min-height: 100vh
}
.video{
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

iframe{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}



/* .clear:before, .clear:after {
  content: ' ';
  display: table;
}
.clear:after {
  clear: both;
}
.clear {
  *zoom: 1;
} */

/* img {
  vertical-align: bottom;
  width: 100%;
} */
.titre{
  background-color: #383530;
  padding: 0.5rem;
  margin-bottom: 1.5rem;

}

.titre h3{
  color: white;
}

.titre h3 span{
  color: #c25431;
}
/*header*/
header{
  background-color: #f5f5f5;
}

header .contener{
  border-left: 3px solid;
  border-image:
  linear-gradient(
    to top,
    #ea9f05,
    rgba(0, 0, 0, 0)
    ) 1 100%;
}


header .contener{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

header .bloc1{
  width: 200px;
}

header .bloc1 p{
  padding-top: 1rem;
}

header .bloc1 p span{
  color: #ea9f05;
}

header .bloc2 img{
  width: 40px;
}

header .bloc2 .minibloc1 ul{
  background-color: #ececec;
  padding: 0.5rem 1rem;
  border: solid 2px grey;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

header .bloc2 .minibloc1 ul .li1 img{
  width: 28px;
}

header .bloc2 .minibloc1 ul li a{
  color: black;
  transition: all 0.5s;
  cursor: pointer;
}

header .bloc2 .minibloc1 ul li a:hover{
  color: #ea9f05;
}

header .bloc2 p{
  text-align: right;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  padding-top: 0.3rem;
  padding-right: 0.6rem;
}

header .bloc2 .minibloc2 ul{
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

header .bloc2 .minibloc2 ul li a{
  color: black;
  border-left: solid 2px #afafaf;
  padding: 1rem 1rem 1rem 1rem;
  transition: all 0.5s;
}

header .bloc2 .minibloc2 ul li a:hover{
  border-color: #f5f5f5;
  border-radius: 6px;
  background-color: black;
  color: white;
}

header .bloc2 .minibloc2 ul .li3 a{
  color: black;
  border-right: solid 2px #afafaf;
  padding-right: 1rem;
}
/* */

/*grandeimg*/
#grandeimg .wrap{
  padding: 1rem 0 0 0;
}
/* */

/*article*/
#article .contener{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #f3f3f3;
  padding-top: 1.5rem;
}

#article .contener .bloc{
  width: 40%;
  padding-bottom: 4rem;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#article .contener .bloc img{
  box-shadow: 0px 0px 10px 1px grey;
}

#article .contener .bloc .minibloc1{
  width: 100%;
  margin-bottom: 1rem;
}

#article .contener .bloc .minibloc1 .p1{
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

#article .contener .bloc .minibloc1 .p2{
  padding: 0.3rem 0.5rem;
  background-color: #3c3c3c;
  border: 4px ridge #828080;
  border-radius: 4px;
  color: #ea9f05;
  font-size: 1.5rem;
  position: absolute;
  top: 30px;
  right: -20px;
}

#article .contener .bloc .minibloc2{
  width: 48%;
  padding: 0 1rem;
  display: flex;
  align-items: flex-end;
}

#article .contener .bloc .minibloc2 a{
  display: inline-block;
  text-align: center;
  background-color: black;
  color: white;
  padding: 0.3rem 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.5s;
}

#article .contener .bloc .minibloc2 a:hover{
  background-color: white;
  color: black;
}

#article .contener .bloc .minibloc3{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 48%;
}

#article .contener .bloc .minibloc3 p{
  display: inline-block;
  width: 40%;
  font-size: 1.5rem;
  transition: all 0.5s;
}

#article .contener .bloc .minibloc3 h3{
  display: inline-block;
  width: 40%;
  color: #ea9f05;
  font-size: 2rem;
  transition: all 0.5s;
}

#article .contener .bloc .minibloc3 .separator{
  width: 100%;
  height: 3px;
  background: rgb(54,54,61);
  background: rgb(54,54,61);
  background: linear-gradient(270deg, rgba(54,54,61,1) 0%, rgba(243,243,243,1) 100%, rgba(243,243,243,1) 100%);
}

/* */
/*avantqui*/
#avantqui{
  background-color: #373737;
  height: 1.5rem;
}

/* */

/*qui*/
#qui .wrap{
  background-color: #f3f3f3;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

#qui .wrap ul{
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  height: 45px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  list-style: square;
  gap: 1rem;
}


#qui .wrap ul .li1{
  padding-left: 1rem;
  list-style: none;
}

#qui .wrap ul li a{
  color: black;
  padding-right: 1rem;
  transition: all 0.5s;
}

#qui .wrap ul li a:hover{
  color: red;
}

/* */

/*footer*/
footer{
  background-color: #373737;
}

footer .contener1{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 3rem;
}

footer .contener1 .bloc{
  width: 23%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

footer .contener1 .bloc p{
  color: white;
  text-align: center;
  padding-top: 0.5rem;
}

footer .contener1 .bloc img{
  width: 50%;
  transition: all 0.5s;
}

footer .contener2{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 2rem;
}

footer .contener2 ul{
  display: flex;
  gap:2rem;
  padding-bottom: 1.5rem;
}

footer .contener2 ul li a {
  display: block;
  display: flex;
  transition: all .4s;
}

footer .contener2 ul li a img{
  width: 70%;
  margin: auto;
}

footer .contener2 ul li a:hover {
  transform: scale(1.5);
}

footer .contener2 p{
  color: white;
  padding-bottom: 1rem;
}
/* */
@media screen and (max-width: 842px){
  #article .contener .bloc .minibloc3 p{
    display: inline-block;
    width: 40%;
    font-size: 1.2rem;
  }

  #article .contener .bloc .minibloc3 h3{
    display: inline-block;
    width: 40%;
    color: #ea9f05;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 787px){
  #article .contener .bloc .minibloc2 a{
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.3rem 1.4rem;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.5s;
  }
}

@media screen and (max-width: 750px){
  header .bloc1 p{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  header .bloc2 p{
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 1.5rem;
    padding-top: 0.3rem;
  }

  header .contener{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
  }

  header .bloc2 .minibloc2 ul{
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }
}
@media screen and (max-width: 659px){
  #article .contener{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: #f3f3f3;
    padding-top: 1.5rem;
  }

  #article .contener .bloc{
    width: 90%;
    padding-bottom: 4rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  #article .contener .bloc .minibloc2 a{
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.3rem 2rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.5s;
  }

  #article .contener .bloc .minibloc3 p{
    display: inline-block;
    width: 40%;
    font-size: 1.5rem;
    transition: all 0.5s;
  }

  #article .contener .bloc .minibloc3 h3{
    display: inline-block;
    width: 40%;
    color: #ea9f05;
    font-size: 2rem;
    transition: all 0.5s;
  }

  footer .contener1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 3rem;
  }

  footer .contener1 .bloc{
    width: 48%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 500px){
  header .bloc2 img{
    width: 30px;
  }

  header .bloc2 .minibloc1 ul li a{
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 0.8rem;
  }

  header .bloc2 .minibloc1 ul .li1 img{
    width: 20px;
  }

  header .bloc2 .minibloc2 ul li a{
    color: black;
    border-left: solid 2px #afafaf;
    padding: 1rem 1rem 1rem 1rem;
    transition: all 0.5s;
    font-size: 0.8rem;
  }

  #qui .wrap ul li a{
    color: black;
    padding-right: 1rem;
    transition: all 0.5s;
    font-size: 0.7rem;
  }

  footer .contener1{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 3rem;
  }

  footer .contener1 .bloc{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-bottom: 1.5rem;
  }

  footer .contener1 .bloc img{
    width: 30%;
  }
}

@media screen and (max-width: 400px){
  header .bloc2 img{
    width: 25px;
  }

  header .bloc2 .minibloc1 ul li a{
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 0.6rem;
  }

  header .bloc2 .minibloc1 ul .li1 img{
    width: 15px;
  }

  header .bloc2 .minibloc2 ul li a{
    color: black;
    border-left: solid 2px #afafaf;
    padding: 1rem 1rem 1rem 1rem;
    transition: all 0.5s;
    font-size: 0.6rem;
  }

  #article .contener .bloc .minibloc3 p{
    display: inline-block;
    width: 40%;
    font-size: 1.2rem;
  }

  #article .contener .bloc .minibloc3 h3{
    display: inline-block;
    width: 40%;
    color: #ea9f05;
    font-size: 1.5rem;
  }

  #article .contener .bloc .minibloc2 a{
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.3rem 1.4rem;
    font-size: 0.7rem;
    cursor: pointer;
    transition: all 0.5s;
  }


}
